@import url('https://fonts.googleapis.com/css2? Family= Roboto & display=swap');

body{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}


.avatar{
    width: 150px;
    border-radius: 40px;
    box-shadow: 4px 4px 14px rgb(0, 0, 0.25) ;
}

.info p {
    color: rgb(68, 66, 60);
    margin: 0;
    font-style: italic;

}

.cont{
    max-width: 750px;
    margin: auto;
}

.social {
    background-color: green;
}